# Site Oficial
https://duckdb.org/

## Documentação 
https://duckdb.org/docs/

## Referência para estudo
https://duckdb.org/docs/api/python/overview
https://gitlab.com/lipe.nscm/duckdb-estudos/

In [ ]:
pip install -r requirements.txt

In [21]:
import duckdb as ddb
import pandas as pd

In [22]:
df_clientes = pd.read_csv('..\\db\\tb_cliente.csv',delimiter=';', encoding = "ISO-8859-1", index_col=0)

In [24]:
conn = ddb.connect()

In [25]:
df_clientes.head(5)

,cpf_cliente,nome_cliente,email_cliente,telefone_cliente
id_cliente,,,,
1,301.845.972-50,Ana Laura Casa Grande,0800 604 1346,portoliam@example.com
2,452.807.361-71,Apollo Peixoto,+55 84 0074 9580,isabellynovais@example.com
3,976.380.514-75,Luna Nascimento,21 2893-8250,biancacarvalho@example.net
4,610.239.785-12,Erick Aparecida,(051) 3292-5179,montenegrolaura@example.org
5,456.819.207-20,João Felipe Farias,0800 503 0354,joao-gabriel61@example.net

In [34]:
ddb.query('SELECT count(*) FROM df_clientes')

---------------------
--- Relation Tree ---
---------------------
Subquery

---------------------
-- Result Columns  --
---------------------
- count_star() (BIGINT)

---------------------
-- Result Preview  --
---------------------
count_star()
BIGINT
[ Rows: 1]
100